<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>SUPABASE_URL</key>
  <string>YOUR_SUPABASE_URL</string>
  <key>SUPABASE_ANON_KEY</key>
  <string>YOUR_SUPABASE_ANON_KEY</string>
  <key>API_BASE_URL</key>
  <string>http://localhost:3001</string>
  <key>IOS_OAUTH_CALLBACK_SCHEME</key>
  <string>omni</string>
  <key>APP_GROUP_ID</key>
  <string>group.com.example.omni</string>
</dict>
</plist>
