<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_GROUP_ID</key>
	<string>group.com.wics.omni</string>
	<key>SUPABASE_URL</key>
	<string>https://nwhqhstexzvcsuubxnat.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53aHFoc3RleHp2Y3N1dWJ4bmF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3MDE1NDQsImV4cCI6MjA4NzI3NzU0NH0.F5oSSxdBKcqX7nk1o7uVkNzpRJwMelCn4-qJE04Y4nA</string>
	<key>API_BASE_URL</key>
	<string>https://lewis-hispid-yoko.ngrok-free.dev</string>
	<key>IOS_OAUTH_CALLBACK_SCHEME</key>
	<string>omni</string>
</dict>
</plist>
